.best-title {
  margin-bottom: 40px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em;
  color: var(--main-font);
}

.best-title-span {
  color: #4f2ee8;
}

.best-img {
  width: 180px;
  height: 256px;
  margin-bottom: 14px;
}

.category-title {
  margin-bottom: 18px;
}

.book-name {
    margin-bottom: 4px;
}

.book-author {
  margin-bottom: 32px;
}

.list-name-btn {
    margin-left: auto;
}


