.categories-container {
  font-family: inherit;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.dark .categories-container {
  background: #202024;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categories-list-nav {
  max-width: 335px;
  height: 228px;
  overflow-y: scroll;
}

.caterories-content {
  flex: 0 1 335px;
}

.categories-list {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.categories-list-name {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--categories-list-color);
}

.dark .categories-list-name {
  color: rgba(255, 255, 255, 0.6);
}

.categories-list-name.active {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--purple-color);
}

.dark .categories-list-name.active {
  color: var(--gold-color);
}

.books-list-title h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--black-color);
}

.dark .books-list-title h2 {
  color: var(--white-color);
}

.books-list-title h2 span {
  color: #4f2ee8;
}

.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  column-gap: 24px;
}
.books-list li {
  overflow: hidden;
  flex-basis: 335px;
}

.books-list .content {
  padding: 14px 0 0 0;
}

.books-list-img {
  border-radius: 8px;
  width: 100%;
  height: 485px;
}

.books-list-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black-color);

  padding-bottom: 4px;
}

.dark .books-list-name {
  color: var(--white-color);
}

.books-list-text {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.book-list-discription {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.simplebar-scrollbar {
  opacity: 0.5;
  cursor: pointer;
}

.books-list .thumb {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.books-list .actions-card {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  content: '';
  height: 25%;
  width: 100%;
  background: var(--gold-color);

  transition: transform var(--animation);
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-card .discription {
  padding: auto 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black-color);
}

.books-list a:hover .actions-card {
  transform: translateY(0);
}
.books-list a:focus .actions-card {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .categories-container {
    padding-bottom: 100px;
  }
  .categories-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .categories-list-nav {
    min-width: 337px;
    height: 472px;
    overflow-y: scroll;
  }
  .caterories-content {
    flex: 0 1 704px;
  }
  .categories-list {
    gap: 32px;
  }
  .categories-list-name {
    font-size: 18px;
    line-height: 1.33;
  }
  .books-list-title h2 {
    font-size: 48px;
    line-height: 1.08;
  }
  .books-list li {
    flex-basis: calc((100% - 2 * 25px) / 3);
  }
  .books-list-img {
    border-radius: 8px;
    width: 100%;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .categories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .categories-list-nav {
    flex: 0 0 calc(358 / 1392 * 100%);
    height: 472px;
  }
  .caterories-content {
    flex: 0 1 996px;
  }
  .books-list li {
    flex-basis: calc((100% - 4 * 24px) / 5);
  }
  .books-list-img {
    border-radius: 16px;
    width: 100%;
    height: 256px;
  }
  .books-list .thumb {
    border-radius: 16px;
  }
}
