ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container-filter {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1440px;
  display: flex;
  gap: 40px;
}

.container-filter nav {
  flex: 0 0 calc(358 / 1440 * 100%);
}
.caterories-content {
  max-width: 996px;
}
.categories-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.categories-list li {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

.list-name {
  cursor: pointer;
}

.list-name.acvite {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
}

.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 24px;
  flex-basis: 180px;
}

.books-list a {
  overflow: hidden;
  flex-basis: 180px;
}
.books-list img {
  overflow: hidden;
  border-radius: 16px;
}
.books-list h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  flex-basis: 180px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
}

.books-list p {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.books-list-wrapper h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em;
  color: #111111;
}

.books-list-wrapper h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em;
  color: #111111;
}

.books-list-wrapper h2:last-child {
  color: #4f2ee8;
}

.books-list .category-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
}

.caterory {
  display: flex;
  flex-direction: column;
}
.caterory .list-name-btn {
  /* margin-left: auto; */
  max-width: 124px;
  padding: 14px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;

  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #111111;
}
.category-top-books {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  flex-wrap: nowrap;
}
