.categories-container {
  padding-top: 40px;
  padding-bottom: 72px;
  display: flex;
  gap: 40px;
}

.categories-list-nav {
  flex: 0 0 calc(358 / 1392 * 100%);
  height: 472px;
  overflow-y: scroll;
}

.caterories-content {
  flex: 0 1 996px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.categories-list-name {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

.categories-list-name.acvite {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
}

.books-list-title h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em;
  color: #111111;
}

.books-list-title h2:last-child {
  color: #4f2ee8;
}

.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 24px;
}
.books-list li {
  overflow: hidden;
  flex-basis: 180px;
}

.books-list .content {
  padding: 14px 0 0 0;
}

.books-list-img {
  border-radius: 16px;
  width: 180px;
  height: 256px;
}

.books-list-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;

  padding-bottom: 4px;
}

.books-list-text {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.book-list-discription {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.simplebar-scrollbar {
  opacity: 0.5;
  cursor: pointer;
}