.mask {
  width: 100%;
  height: 100%;
  background-color: #ffffffea;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 6000ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  position: absolute;
  top: -35px;
  transform: scale(1.5);
}
.loader {
  height: 25px;
  width: 1px;
  position: absolute;
  animation: rotate 3.5s linear infinite;
}
.loader .dot {
  top: 60px;
  height: 20px;
  width: 17px;
  background: #502ee8;
  border-radius: 50%;
  position: relative;
}
@keyframes rotate {
  30% {
    transform: rotate(220deg);
  }
  40% {
    transform: rotate(450deg);
    opacity: 1;
  }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
.loader:nth-child(1) {
  animation-delay: 0.15s;
}
.loader:nth-child(2) {
  animation-delay: 0.3s;
}
.loader:nth-child(3) {
  animation-delay: 0.45s;
}
.loader:nth-child(4) {
  animation-delay: 0.6s;
}
.loader:nth-child(5) {
  animation-delay: 0.75s;
}
.loader:nth-child(6) {
  animation-delay: 0.9s;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
