.block-title-support-ukraine {
  display: flex;
}
.title-support-ukraine {
  display: flex;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
  height: 32px;
}
.title-icon-support-ukraine {
  margin-left: 12px;
}
.section-support-ukraine {
  width: 255px;
  padding: 24px 40px 20px;
  background-color: #4f2ee8;
  background: linear-gradient(
    180deg,
    rgba(79, 46, 232, 1) 0%,
    rgba(255, 255, 255, 1) 130%
  );
  color: white;
  border-radius: 16px;
}
.logo-support-ukraine {
  display: flex;
  align-items: center;
  filter: brightness(0) invert(1);
  height: 32px;
  margin-bottom: 20px;
}
.logo-support-ukraine:last-child {
  margin-bottom: 16px;
}
:hover.logo-support-ukraine {
  -webkit-filter: hue-rotate(360deg);
  filter: hue-rotate(360deg);
}
.logo-support-ukraine a {
  margin-left: 16px;
  padding: 0 auto;
  width: 149px;
  // height: 32px;
}
// .logo-support-ukraine a img {
//   height: 32px;
// }
.section-button-support-ukraine {
  text-align: center;
}
.button-support-ukraine {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* transform: rotate(180deg); */
  fill: #4f2ee8;
  background-color: white;
  border: 0 none white;
}
:hover.button-support-ukraine {
  fill: white;
  background-color: #4f2ee8;
}
.button-icon-support-ukraine {
  text-align: center;
  width: 12px;
  height: 6px;
}
@media screen and (min-width: 768px) {
  .section-button-support-ukraine {
    margin-top: 32px;
  }
  .section-support-ukraine {
    padding-bottom: 14px;
  }
  .button-support-ukraine {
    width: 38px;
    height: 38px;
  }
  .button-icon-support-ukraine {
    text-align: center;
    width: 13px;
    height: 7px;
  }
  .logo-support-ukraine:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .section-support-ukraine {
    width: 276px;
    padding-bottom: 24px;
  }
  .section-button-support-ukraine {
    margin-top: 40px;
  }
}
