:root {
  // Цвета
  --black-color: #111111;
  --grey-color: #202024;
  --purple-color: #4f2ee8;
  --gold-color: #eac645;
  --white-color: #ffffff;

  // Шрифт
  --main-font: 'DM Sans', sans-serif;

  // Анимация
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
