<!-- test modal to try functional -->
<button class="test-modal" data-modal-open>Test Modal btn</button>

<!-- modal window body -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-filling">
        <button class="modal-close-btn" data-modal-close>&times;</button>
        <!-- book name h2 -->
        <h2></h2>
        <!-- author p  -->
        <p></p>
        <!-- description p -->
        <p></p>

        <!-- svg -->
        <!-- svg -->
        <!-- svg -->

        <!-- //add to shopping list | remove// p -->
        <button class="shopping-list-button"></button>
    
    </div>
</div>