<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body> -->
    <div class="container container-filter">
      <nav>
        <ul class="categories-list">
          <li data-filter="All" class="list-name">All categories</li>
          <li data-filter="Combined Print and E-Book Fiction" class="list-name">
            Combined Print and E-book Fiction
          </li>
          <li
            data-filter="Combined Print and E-Book Nonfiction"
            class="list-name"
          >
            Combined Print & E-book Nonfiction
          </li>
          <li data-filter="Hardcover Fiction" class="list-name">
            Hardcover fiction
          </li>
          <li data-filter="Hardcover Nonfiction" class="list-name">
            Hardcover nonfiction
          </li>
          <li data-filter="Trade Fiction Paperback" class="list-name">
            Paperback trade fiction
          </li>
          <li data-filter="Paperback Nonfiction" class="list-name">
            Paperback nonfiction
          </li>
          <li data-filter="Advice How-To and Miscellaneous" class="list-name">
            Advice, how-to & Miscellaneous
          </li>
          <li data-filter="Childrens Middle Grade Hardcove" class="list-name">
            Children’s middle grade hardcover
          </li>
          <li data-filter="Series Books" class="list-name">Series Books</li>
          <li data-filter="Young Adult Hardcover" class="list-name">
            Young Adult Hardcover
          </li>
        </ul>
      </nav>
      <div class="caterories-content">
        <div class="books-list-wrapper"></div>
        <ul class="books-list"></ul>
      </div>
    </div>
    <!-- <script src="./main.js" type="module"></script> -->
  <!-- </body> -->
<!-- </html> -->

<!-- example: List [ 

OrderedMap { "list_name": "Trade Fiction Paperback" },
OrderedMap { "list_name": "Series Books" }, 
OrderedMap { "list_name": "Picture Books" }, 
OrderedMap { "list_name": "Hardcover Fiction" },
OrderedMap { "list_name": "Advice How-To and Miscellaneous" }, 
OrderedMap { "list_name": "Hardcover Nonfiction" }, 
OrderedMap { "list_name": "Paperback Nonfiction" },
OrderedMap { "list_name": "Childrens Middle Grade Hardcover" }, 
OrderedMap {"list_name": "Young Adult Hardcover" }, 
OrderedMap { "list_name": "Combined Print and E-Book Nonfiction" }, 
OrderedMap { "list_name": "Combined Print andE-Book Fiction" } 

] -->

<!-- [
{"list_name":"Paperback Nonfiction"},
{"list_name":"Young Adult Paperback Monthly"},
{"list_name":"Combined Print and E-Book Nonfiction"},
{"list_name":"Hardcover Nonfiction"},
{"list_name":"Combined Print and E-Book Fiction"},{"list_name":"Series Books"},
{"list_name":"Young Adult Hardcover"},
{"list_name":"Mass Market Monthly"},
{"list_name":"Middle Grade Paperback Monthly"},
{"list_name":"Hardcover Fiction"},
{"list_name":"Trade Fiction Paperback"},
{"list_name":"Childrens Middle Grade Hardcover"},
{"list_name":"Picture Books"},
{"list_name":"Advice How-To and Miscellaneous"},
{"list_name":"Audio Nonfiction"},
{"list_name":"Audio Fiction"},
{"list_name":"Graphic Books and Manga"},
{"list_name":"Business Books"}] -->
