<div class="container categories-container">
  <div class="categories-list-nav">
    <ul class="categories-list">
      <!-- <li data-filter="Best Sellers Books" class="categories-list-name">
        All categories
      </li>
      <li
        data-filter="Combined Print and E-Book Fiction"
        class="categories-list-name"
      >
        Combined Print and E-book Fiction
      </li>
      <li
        data-filter="Combined Print and E-Book Nonfiction"
        class="categories-list-name"
      >
        Combined Print & E-book Nonfiction
      </li>
      <li data-filter="Hardcover Fiction" class="categories-list-name">
        Hardcover fiction
      </li>
      <li data-filter="Hardcover Nonfiction" class="categories-list-name">
        Hardcover nonfiction
      </li>
      <li data-filter="Trade Fiction Paperback" class="categories-list-name">
        Paperback trade fiction
      </li>
      <li data-filter="Paperback Nonfiction" class="categories-list-name">
        Paperback nonfiction
      </li>
      <li
        data-filter="Advice How-To and Miscellaneous"
        class="categories-list-name"
      >
        Advice, how-to & Miscellaneous
      </li>
      <li
        data-filter="Childrens Middle Grade Hardcove"
        class="categories-list-name"
      >
        Children’s middle grade hardcover
      </li>
      <li data-filter="Series Books" class="categories-list-name">
        Series Books
      </li>
      <li data-filter="Young Adult Hardcover" class="categories-list-name">
        Young Adult Hardcover
      </li> -->
    </ul>
  </div>
  <div class="caterories-content">
    <div class="books-list-title"></div>
    <ul class="books-list"></ul>
    <div class="books-list-empty"></div>
  </div>
</div>

<!-- [
{"list_name":"Paperback Nonfiction"},
{"list_name":"Young Adult Paperback Monthly"},
{"list_name":"Combined Print and E-Book Nonfiction"},
{"list_name":"Hardcover Nonfiction"},
{"list_name":"Combined Print and E-Book Fiction"},{"list_name":"Series Books"},
{"list_name":"Young Adult Hardcover"},
{"list_name":"Mass Market Monthly"},
{"list_name":"Middle Grade Paperback Monthly"},
{"list_name":"Hardcover Fiction"},
{"list_name":"Trade Fiction Paperback"},
{"list_name":"Childrens Middle Grade Hardcover"},
{"list_name":"Picture Books"},
{"list_name":"Advice How-To and Miscellaneous"},
{"list_name":"Audio Nonfiction"},
{"list_name":"Audio Fiction"},
{"list_name":"Graphic Books and Manga"},
{"list_name":"Business Books"}] -->
