<section class="section-support-ukraine">
  <div class="container-support-ukraine">
    <h3 class="title-support-ukraine">
      Support Ukraine
      <div class="title-icon-support-ukraine">
        <svg class="icon-support-ukraine" width="20" height="32">
          <use href="./images/symbol-defs.svg#icon-tryzub"></use>
        </svg>
      </div>
    </h3>
    <ul class="block-support-ukraine">
      <li class="logo-support-ukraine">
        01<a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          title="Save the Children"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            srcset="
              ./images/book-icon/save.png    1x,
              ./images/book-icon/save@2x.png 2x
            "
            src="./images/book-icon/save.png"
            alt="Save the Children"
            height="32"
        /></a>
      </li>
      <li class="logo-support-ukraine">
        02<a
          href="https://www.projecthope.org/country/ukraine/"
          title="Project HOPE"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            srcset="
              ./images/book-icon/hope.png    1x,
              ./images/book-icon/hope@2x.png 2x
            "
            src="./images/book-icon/hope.png"
            alt="Project HOPE"
            height="32"
        /></a>
      </li>
      <li class="logo-support-ukraine">
        03<a
          href="https://internationalmedicalcorps.org/country/ukraine/"
          title="International Medical Corps"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            srcset="
              ./images/book-icon/medical.png    1x,
              ./images/book-icon/medical@2x.png 2x
            "
            src="./images/book-icon/medical.png"
            alt="International Medical Corps"
            height="32"
        /></a>
      </li>
      <li class="logo-support-ukraine">
        04<a
          href="https://www.razomforukraine.org/"
          title="RAZOM"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            srcset="
              ./images/book-icon/razom.png    1x,
              ./images/book-icon/razom@2x.png 2x
            "
            src="./images/book-icon/razom.png"
            alt="RAZOM"
            height="32"
        /></a>
      </li>
    </ul>
  </div>
  <div class="section-button-support-ukraine">
    <button type="button" class="button-support-ukraine">
      <svg class="button-icon-support-ukraine" width="14" height="8">
        <use href="./images/symbol-defs.svg#icon-click-down"></use>
      </svg>
    </button>
  </div>
</section>
