<section class="support-ukraine-container section-support-ukraine">
  <div class="block-title-support-ukraine">
    <h3 class="title-support-ukraine">
      Support Ukraine
      <div class="title-icon-support-ukraine">
        <svg class="icon-support-ukraine" width="20" height="32">
          <use href="./images/symbol-defs.svg#icon-tryzub"></use>
        </svg>
      </div>
    </h3>
  </div>
  <div id="support-ukraine"></div>
  <div class="section-button-support-ukraine">
    <button type="button" class="button-support-ukraine">
      <svg class="button-icon-support-ukraine">
        <use href="./images/symbol-defs.svg#icon-click-down"></use>
      </svg>
    </button>
  </div>
</section>
